* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #537543;
    padding: 18px 8.33% 50px;
    display: flex;
    justify-content: space-between;
}

.menu {
    min-width: 35%;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

ul li a:hover {
    color: #e6ca48;
    text-shadow: 0 0 3px #e6ca48;
}

li {
    list-style-type: none;
    font-size: 25px;
}

.search>form>button {
    border: none;
    background: none;
    padding-top: 25px;
}

/* Navigation Bar Ends Here */

.section {
    background-image: linear-gradient(to bottom right, #537543, #7cb258);
    display: flex;
   justify-content: space-between;
    background-image: url("Group 1@3.25x.webp");
    background-repeat: no-repeat;
    background-size: 99vw 38vw;
    background-color: #76a956;
}

.section div:nth-child(1) {
    padding-left: 150px;
    padding-top: 140px;
    padding-bottom: 140px;

}

.section h1 {
    font-family: "Berkshire Swash", sans-serif;
    /* position: relative;
    /* top: -1000px;
    left: 245px; */
    padding-left: 180px;
    font-size: 50px;
    color: #ffffff;
    min-width: 600px;
    position: sticky;
}

.section h2 {
    font-family: "Berkshire Swash", sans-serif;
    position: relative;
    /*top: -1040px;
    left: 134px;*/
    font-size: 125px;
    color: #ffffff;
    max-width: 500px;
    bottom: 50px;
}

.section p {
    /* position: relative;
    /* top: -1040px; 
    left: 134px; */
    font-size: 25px;
    color: #ffffff;
    max-width: 670px;
    padding-bottom: 50px;
}

.btn input {
    border: 1px solid #e6ca48;
    border-radius: 32px;
    /* position: relative;
    top: -970px;
    left: 134px; */
    font-size: 25px;
    color: #3e5831;
    min-height: 57px;
    min-width: 250px;
    background-color: #e6ca48;
    cursor: pointer;
}
.banner img{
    position: relative;
    z-index: 99;
    float: right;
}

/* <!-- Group 1 Completes here !!! --> */
.AboutFood {
    display: flex;
    background-image: linear-gradient(to bottom right, #537543, #7cb258);
    justify-content: flex-end;
    padding-top: 120px;
    padding-bottom: 130px;
}

.content {
    color: #3e5831;
    background-color: #e6ca48;
    padding-left: 34%;
    max-width: 600px;
    float: right;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 480px;
}

.image_about img {
    height: 600px;
    margin-left: 50%;
    margin-top: 0%;
    z-index: 999;
    position:sticky;
}

.content h2 {
    font-family: "Berkshire Swash", sans-serif;
    font-size: 50px;
}

.content h3 {
    font-family: "Poppins", sans-serif;
    ;
    font-size: 30px;
    font-style: italic;
}

.content p {
    font-size: 25px;
}

.content button {
    border: none;
    font-size: 26px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 16px 75px;
    border-radius: 60px;
}
.content button a{
    color: #3e5831 !important;
}

/* Rating Starts Here!!! */

.rating {
    padding: 100px;
    background-color: #537543;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 110px;
    box-shadow: 5px 10px #537543;
    ;
}

.star {
    text-align: center;
}

.star img {
    max-width: 150px;
    max-height: 150px;
    padding-bottom: 77px;
}

.star h3 {
    font-size: 33.33px;
    padding-bottom: 30px;

}

.star p {
    font-size: 29px;
}

/* Staff Starts Here !!! */


.staff {
    background-color: #7aae57;
    padding: 60px 100px 140px 100px;
    color: #fff;
    text-align: center;
    background-image: url("bg2@3.25x.webp");
    background-repeat: repeat-x; 
    background-position: x;   
}

.members {
    display: flex;
    justify-content: space-evenly;

}

.members img {
    max-height: 597px;
    max-width: 350px;
}

.members h4 {
    font-size: 25px;
    position: relative;
    top: -110px;
    font-weight: 300;
    text-align: center;
}

.members p {
    font-size: 17px !important;
    position: relative;
    top: -110px;
    font-weight: 300;
    text-align: center;
}

.staff h2 {
    font-size: 73px;
    font-family: "Berkshire Swash", sans-serif;
}

.staff p {
    font-size: 22px;
}
.bg{
    background-image: url("bg3@3.25x.webp");
    background-repeat: repeat-x;
    background-position: bottom;
    height: 50px;
}

#staff-para {
    font-size: 25px;
    padding-left: 120px;
    padding-right: 120px;
    background-image: url("bg3@3.25x.webp");
}

/* Group 5 Starts Here !!! */

.section5 {
    background-color: #dd982c;
    padding: 188px 150px 198px 150px;
    display: flex;
    justify-content: space-evenly;
}
.section5 div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 500px;
}
.section5 div img {
    max-height: 450px;
    max-width: 600px;
}

.section5 div h4 {
    font-size: 37px;
    color: #fff;
}

.section5 div p {
    font-size: 20px;
    color: #fff;
}

.section5 button{
    border: 1px solid white;
    background-color: white;
    color: #3e5831;
    padding: 10px 65px;
    border-radius: 30px;
    font-size: 27px;
    max-width: 278px;
    max-height: 55px;
    text-align: center;
}

.section5 button a{
    color: #3e5831;
}

/* Testimonial Starts Here !!! */

.testimonial{
    padding: 80px 198px 20px 198px;
    color: #ffffff;
    background-color: #537842;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

}
.testimonial h2{
    font-size: 98px;
    font-family: "Berkshire Swash", sans-serif;
    padding-bottom: 85px;
}
.testimonial p{
    font-size: 30px;
    padding-bottom: 56px;
}
.container input{
    min-height: 30px;
    min-width: 30px;
    appearance: none;
    background-color: #fff;
    border-radius: 100%;


}
.container input:checked{
    background-color: #fff;
    border: 4px solid #537842;
    outline: 2px solid white;
    padding: 2px;
}
.bgTestimonial{
    background-color: #76a956;
    min-height: 105px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-image: url("Background_testimonial@3.25x.webp");
}
.bgTestimonial2{
    background-color: #76a956;
    min-height: 52px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-image: url("Background_testimonial@3.25x.webp");
}

/* Menu Starts Here !!! */

.menuHeadings{
    background-color:  #e6ca48;
    text-align: center;
    padding: 70px 220px ;
    color: #537942;
}
.menuHeadings h2{
    font-size: 98px;
}
.menuHeadings h3{
    font-size: 41px;
}
.menuHeadings p{
    font-size: 16px;
}

/* BEst Dishes Starts Here !!! */

.BestDishesContainer{
    background-image: linear-gradient(to left bottom, #60864c, #7cb258);
}

.bestDishes{
    padding: 50px 10% 5px;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
}


.dish{
    display: flex;
    min-width: 50%;
    position: static;
    justify-content: space-between;
    padding-bottom: 70px;

}
.DishContent{
    max-width: 350px;
}
.DishContent h3{
    font-size: 35.5px;
    /* min-width: 270px; */
}
.DishContent h3:nth-of-type(2){
    font-size: 58.33px;
}

.DishImage img{
    max-height: 270px;
    max-width: 250px;
}
#Radiosdish{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 590px 70px;
}

/* Subscriber Section Starts Here !!!! */

.Subscribe{
    padding-top: 76px;
    color: #68914f;
}
.Subscribe h2{
    font-size: 103px;
    font-family: "Berkshire Swash", sans-serif;
    text-align: center;
    padding: 0px 500px 60px;
}
.Subscribe p{
    font-size: 25px;
    padding: 0 198px 55px;
    text-align: center;
}
.Subscribe form{
    display: flex;
    flex-direction: column;
    padding: 0px 360px 90px;
    justify-content: space-between;
    align-items: center;

}
.Subscribe form label input{
    min-width: 719px;
    padding: 15px 40px;
    border-radius: 30px;
}
#Email{
    margin-bottom: 40px;
    border: 3px solid #3e5831;
    font-size: 30px;
}
#Email::placeholder{
    color: #6d6d6d;
    font-size: 30px;
}
#Email::selection{
    color: white;
}
#Email:focus{
    background-color: #537942;
    color: white;
    outline: 2px solid #537543;
}
input[value="Subscribe"]{
    background-color: #537942;
    padding: 20px 338px !important;
    font-size: 30px; 
    color: #fff;
    border: none;
}

/* Footer Starts Here !!!! */

Footer{
    background-color: #537942;
    padding: 158px 100px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 25px;
}
.titles{
    padding-right: 60px;
    display: flex;
    flex-direction: column;
}
.titles h3{
    font-size: 46px;
    font-family: "Berkshire Swash", sans-serif;
    padding-bottom: 38px;
}
.titles p{
max-width: 480px;
padding-bottom: 45px;
}
.social img{
    max-width: 50px;
}